@model SoccerLeagueManager.Models.LeagueModel

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>LeagueModel</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.IDLeague)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IDLeague)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NameLeague)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NameLeague)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Country)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Country)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NumberOfTeams)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NumberOfTeams)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Sponsor)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Sponsor)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.IDLeague }) |
    @Html.ActionLink("Back to List", "Index")
</p>
