@model SoccerLeagueManager.Models.SoccerMatchModel

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>SoccerMatchModel</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.IDMatch)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IDMatch)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HomeTeam)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HomeTeam)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GuestTeam)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GuestTeam)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Stadium)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Stadium)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.City)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.City)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IdLeague)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IdLeague)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new {  id = Model.IDMatch }) |
    @Html.ActionLink("Back to List", "Index")
</p>
